* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: #e4ebf0;
}

.logo {
    width: 6rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
}

nav {
    margin-right: 1rem;
}

.encabezado {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    background-color: #4180ab;
}

.encabezado h1 {
    text-align: center;
    padding: 1rem;
    color: white;
}

.encabezado h1 a {
    text-decoration: none;
    color: white;
}

.encabezado h1 a:hover {
    color: #0a58ca;
}

.loupe {
    margin-top: 0.5rem;
}

.carta {
    margin-bottom: 2rem;
}

.card img {
    box-shadow: -5px -5px 57px -17px rgba(0,0,0,0.65);
    -webkit-box-shadow: -5px -5px 57px -17px rgba(0,0,0,0.65);
    -moz-box-shadow: -5px -5px 57px -17px rgba(0,0,0,0.65);
}

.price {
    margin-right: 1.5rem;
}

footer {
    margin-top: 2rem;
    padding: 30px 20px;
    width: 100%;
    background-color: #bdd1de;
    margin-top: auto;
}

.redes {
    margin-right: 1.5rem;
}

.contact {
    padding: 2rem;
    border: 3px solid #8ab3cf;
    background-color: #e4ebf0;
    border-radius: 5%;
    box-shadow: 16px 16px 81px -19px rgba(0,0,0,0.65);
    -webkit-box-shadow: 16px 16px 81px -19px rgba(0,0,0,0.65);
    -moz-box-shadow: 16px 16px 81px -19px rgba(0,0,0,0.65);
}

.container-horizontal-card {
    margin: 5% 20%;
}

.container-table {
    margin: 5% 10%;
}

thead {
    border: 1px solid black;
    background-color: rgb(227, 239, 248);
}

td {
    padding: 2px;
}